body {
  background-color: #cfdac8;
}
hr {
  border-color:   #7c9473;
  border-width: 5px;
  border-style:none;
  border-top-style: dotted;
    width: 10%
    }
  img{
    height: 200px;
    }
